.StringVizContainer {
	/* Font must be monospaced / fixed-width */
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	letter-spacing: 1px;

	border: none;
	margin: 1em 0 0 0;
}

.StringVizContainer .StringVizText {
	border: none;
	display: inline-block;
}


.StringVizContainer .StringVizBoxes {
	border: none;
	position: relative;
	font-size: 0.8em;
}

.StringVizContainer .StringVizBox {
	position: absolute;
	border-left: 1px solid red;
	padding-left: 2px;
}
